@{
    ViewData["Title"] = "Home Page";
}
<body></body>
@*<div><img src="/images/cinema_background.jpg" alt="Cinema Background" style="width:100%;"></div>*@
<style>
    body { 
        background-image: url("/images/cinema.jpg");
        background-size:cover;
        background-repeat: no-repeat;
    }
</style>