@model Cinema.Models.User

@{
    ViewData["Title"] = "RegisterClient";
}

<h4>Select a Client  </h4>
<h5>>User : @ViewBag.User </h5>
<br/>
<br/>
<div class="row">
    <div >
        <form asp-controller="Home" asp-action="RegisterClient" asp-route-userID="@ViewBag.Client">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group d-flex justify-content-center mx-5">
                <select asp-for="UserId" class="form-select from-select-lg mb-3" asp-items="ViewBag.ClientId">
                    <option>Select client</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-center">
                <input type="submit" value="Save" class="btn btn-secondary px-5" />
            </div>
        </form>
     </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}