@model Cinema.Models.Client

@{
    ViewData["Title"] = "CreateAccount";
}

<div class="row justify-content-center">
    <div class="col-4">
        <form asp-action="CreateAccount">
            <h2>Enter personal info</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientId" value = "@ViewData["ClientId"]" />
            <div class="form-floating">
                <input asp-for="FirstName" class="form-control" />
                <label asp-for="FirstName" class="form-label text-dark"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="LastName" class="form-control" />
                <label asp-for="LastName" class="form-label text-dark"></label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Age" class="form-control" />
                <label asp-for="Age" class="form-label text-dark"></label>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="user" value = "@ViewData["userId"]" />
            <br />
            <div class="form-group text-center">
                <input type="submit" value="Save" class="w-100 btn btn-lg btn-dark" />
            </div>
        </form>
    </div>
</div>s

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}